<!-- This will show profile information, so I need to add erb here for them to render -->
<!-- This is where, for instance, I would see my profile info at http://localhost:3000/users/2 -->

<h1><%= @name %></h1>

