<!-- Welcome page user sees after signing-in -->
<!-- Add a helper method here...look up Hartl erb links so it directs to show.html.erb here
 -->

<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'logout-link'  %>


<h1>Hello!</h1>

<p class="app_description"> ChatHERbox is a lifestyle social network that provides opportunities for women to thrive in all areas of life by connecting with other women around the world. We offer a member network to guide well-rounded success through online consultations, workshops, seminars, and virtual and conventional networking hubs.</p>

<!-- Hard code links to blog text and images in html