<!-- Welcome page user sees after signing-in -->
<!-- Add a helper method here...look up Hartl erb links so it directs to show.html.erb here
 -->

 <!-- Logo image -->
<a href="#"><div class="logo" alt="Chatherbox logo"></div></a>

<!-- Logout link -->
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'logout-link'  %>


<p class="app_description1"> SSSS<p/>

<p class="app_description2"> ChatHERbox offers you a member network to guide well-rounded success through online consultations, workshops, seminars, and virtual and conventional networking hubs.</p>

<!-- Hard code links to blog text and images in html -->
<h1> Blogs by ChatHERbox Community</h1>

<a href="http://www.codenewbie.org/blogs"><p>CodeNewbie</p></a>

<a href="http://www.remodelista.com/"><p>Remodelista</p></a>

<a href="http://www.thegreatfitnessexperiment.com/"><p>The Great Fitness Experiment</p></a>

<a href="http://retrohousewifegoesgreen.com/"><p>Retro Housewife Goes Green by Lisa Sharp</p></a>

