/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* logo */
.logo {
  background-image: url("Logo2.png");
  width: 100px;
  height: 100px;
  background-size: 100% auto;
  margin-left: 200%;
  margin-top: 1%;
}

/* Navigation links */
.navigation {
  display: inline-block;
}

nav li a {
  padding: 25px 10px;
 /* display: block;*/
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-family: 'Oxygen', sans-serif;
  text-shadow: 1px 1px #696969;
}

/* Arranges list items next to each other vs. stacked */
nav li {
  float: left;
  width: auto;
  list-style-type: none; /* Rids of list bullets */
}

/* Left-floated nav, logo */
ul.left-nav {
  float: left;
}

/* Right-floated nav */
ul.right-nav {
  float: right;
  margin-left: 950px;
}

/* Tagline */
.tagline1, .tagline2 {
  font-size: 3em;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  float: clear;
  font-weight: 700;
  color: #fff;
  width: auto;
  margin: auto;
  text-shadow: 2px 2px #696969;
}

/* ChatHERbox description on index.html.erb*/
.app_description1, .app_description2 {
  font-size: 1.5em;
  font-family: 'Oxygen', sans-serif;
  margin: auto;
  padding: 0 200px 0 200px;
}

/* background image in css */
.landing-parent {
  height: 100%;
  width: 100%;
}

/* background image with opacity*/
.landing-content {
  background-image: url("BirdsEyeofWomenWorking.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  /*-webkit-filter: grayscale(100%);*/
/*  box-shadow: 100% rgba(255, 0, 92, 0.6) inset;*/
}

/* input form */
.class {
  text-align: center;
  background-size: 100% auto;
  padding-bottom: 50%;
}

/* Input form */
.input-form {
  font-size: 1em;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color: #fff;
  margin: 2em;
}

/* Input fields */
.field {
  margin: 1.5em 1em 1em 1em;
}
