@import "bootstrap-sprockets";
@import "bootstrap";

// color palette from http://www.colourlovers.com/palette/1485451/Womens_Day and http://www.colourlovers.com/fashion/trends/street-fashion/7896/Floral_Much

/* -------------- universal --------------*/
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* -------------- Background image -------------- */

/* background image with opacity*/
.landing-content {
  background-image: url("BirdsEyeofWomenWorking.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  /*-webkit-filter: grayscale(100%);*/
/*  box-shadow: 100% rgba(255, 0, 92, 0.6) inset;*/
}

/* -------------- Navigation bar color -------------- */
.my_container {
  margin: 50px auto;
  width: 75%;

}

/* -------------- Navigation bar color -------------- */
.navbar {
  color: #FFF;
  background-color: #fff;
}


/* -------------- Jumbotron -------------- */
.center.jumbotron {
  opacity: 0.9;
}

.jumbotron h1{
  color: #61D2D6;
}

.btn {
  border: 2px solid #61D2D6;
  color: #61D2D6;
}

/* -------------- Logo -------------- */

.logo {
  font-family: 'Courgette', cursive;
  font-size: 2.75em;
  color: #FF4D70;
}


/* -------------- typography -------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: 'Oxygen', sans-serif;
}

/* nav links */
li {
  font-family: 'Oxygen', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  color: #fff;
}

/* -------------- Input form -------------- */
.input-form {
  text-align: center;
}

/* -------------- Forgot your passwork link, email, etc. -------------- */
.forgot_password_link{
  color: #000;
  font-size: 1em;
  // text-shadow: 1px 1px #696969;
}

// .field {
//   color: #fff;
//   font-size: 1em;
//   font-weight: 30;
// }

/* -------------- footer -------------- */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #FF4D70;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #FF4D70;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;

}

footer ul li {
  float: left;
  margin-left: 15px;

}


// /* logo */
// .logo {
//   background-image: url("Logo2.png");
//   width: 100px;
//   height: 100px;
//   background-size: 100% auto;
//   margin-left: 200%;
//   margin-top: 1%;
// }

// /* Navigation links */
// .navigation {
//   display: inline-block;
// }

// nav li a {
//   padding: 25px 10px;
//  /* display: block;*/
//   text-decoration: none;
//   color: #fff;
//   font-size: 1.25em;
//   font-weight: 500;
//   font-family: 'Oxygen', sans-serif;
//   text-shadow: 1px 1px #696969;
// }

// /* Arranges list items next to each other vs. stacked */
// // nav li {
// //   float: left;
// //   width: auto;
// //   list-style-type: none; /* Rids of list bullets */
// // }

// /* Left-floated nav, logo */
// // ul.left-nav {
// //   float: left;
// // }

// /* Right-floated nav */
// // ul.right-nav {
// //   float: right;
// //   margin-left: 950px;
// // }

// /* Tagline */
// .tagline1, .tagline2 {
//   font-size: 3em;
//   font-family: 'Oxygen', sans-serif;
//   text-align: center;
//   float: clear;
//   font-weight: 700;
//   color: #fff;
//   width: auto;
//   margin: auto;
//   text-shadow: 2px 2px #696969;
// }

// /* ChatHERbox description on index.html.erb*/
// .app_description {
//   font-size: 1.5em;
//   font-family: 'Oxygen', sans-serif;
//   margin: auto;
//   padding: 0 200px 0 200px;
// }

// /* background image in css */
// .landing-parent {
//   height: 100%;
//   width: 100%;
// }

// /* input form */
// .class {
//   text-align: center;
//   background-size: 100% auto;
//   padding-bottom: 50%;
// }

// /* Input form */
// .input-form {
//   font-size: 1em;
//   font-family: 'Oxygen', sans-serif;
//   text-align: center;
//   color: #fff;
//   margin: 2em;
// }

// /* Input fields */
// .field {
//   margin: 1.5em 1em 1em 1em;
// }

// /* Sign up link */
// .signup, .forgot_password_link {
//   color: #fff;
//   text-decoration: none;
// }

