<!-- A partial for the site footer. -->

<footer class="footer">
  <small>
    <p>Copyright © 2016, ChatHERbox</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "FAQ",   '#' %></li>
      <li><%= link_to "Privacy Policy", '#' %></li>
      <li><%= link_to "Terms", '#' %></li>
      <li><%= link_to "Careers", '#' %></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Pinterest</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
  </nav>
</footer>